@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@font-face {
  font-family: 'Quincy CF';
  src: url('../fonts/Quincy-CF/QuincyCF-Light.eot');
  src: local('Quincy CF Light'), local('QuincyCF-Light'),
  url('../fonts/Quincy-CF/QuincyCF-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Quincy-CF/QuincyCF-Light.woff2') format('woff2'),
  url('../fonts/Quincy-CF/QuincyCF-Light.woff') format('woff'),
  url('../fonts/Quincy-CF/QuincyCF-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('../fonts/Greycliff-CF/GreycliffCF-Regular.eot');
  src: local('Greycliff CF'), local('GreycliffCF-Regular'),
  url('../fonts/Greycliff-CF/GreycliffCF-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Greycliff-CF/GreycliffCF-Regular.woff2') format('woff2'),
  url('../fonts/Greycliff-CF/GreycliffCF-Regular.woff') format('woff'),
  url('../fonts/Greycliff-CF/GreycliffCF-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('../fonts/Greycliff-CF/GreycliffCF-Medium.eot');
  src: local('Greycliff CF Medium'), local('GreycliffCF-Medium'),
  url('../fonts/Greycliff-CF/GreycliffCF-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Greycliff-CF/GreycliffCF-Medium.woff2') format('woff2'),
  url('../fonts/Greycliff-CF/GreycliffCF-Medium.woff') format('woff'),
  url('../fonts/Greycliff-CF/GreycliffCF-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('../fonts/Greycliff-CF/GreycliffCF-Bold.eot');
  src: local('Greycliff CF Bold'), local('GreycliffCF-Bold'),
  url('../fonts/Greycliff-CF/GreycliffCF-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Greycliff-CF/GreycliffCF-Bold.woff2') format('woff2'),
  url('../fonts/Greycliff-CF/GreycliffCF-Bold.woff') format('woff'),
  url('../fonts/Greycliff-CF/GreycliffCF-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
